* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
nav{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
#ull{
    background-color: #141414;
    color: white;
    list-style: none;
    display: flex;
    gap: 25px;
    padding: 12px 0px;
    align-items: center;
    justify-content: center;  
    font-size: 15px; 
}
#ull>li {
    cursor: pointer;
    transition: color 0.3s ease;
}
#ull>li:hover {
    color: #2997FF;
}
.hero-section{
    height: 100vh;
    background-image: url('./images/hero_iphone_17_pro__bknyzxfk2agi_mediumtall.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    color: white;
    text-align: center;
    /* height: 70vh; */
    position: relative;
    /* bottom: 0; */
    /* left: 0; */
    width: 100%;
    /* height: 100%; */
    z-index: 3;
    padding-top: 60px;
    margin-bottom: 30px;
}
.hero-content {
    position: relative;
    top: 5%;
}
.hero-content h1 {
    font-size: 3rem;
    /* margin-bottom: 20px; */
}
.hero-content p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}
#btn_1 {
    padding: 11px 21px;
    color: #FFFFFF;
    background-color: #0071e3;
    border-radius: 30px;
    border: 1px solid #0071e3;
}
#btn_2{
    padding: 11px 21px;
    color: #2997FF;
    border-color: #2997FF;
    background-color: black;
    border-radius: 30px;
}
#btn_2:hover{
    background-color: #0071e3;
    color: white;
    border: 1px solid #2997FF;
}


.hero_2{
    background-image: url(./images/iphoneair);
    color: black;
}
.hero_2 #btn_2 {
    background-color: white;
    color: #2997FF;
    border-color: #2997FF;
}
.hero_2 #btn_2:hover {
    background-color: #2997FF;
    color: white;
    border: 1px solid #2997FF;
}
.hero_3{
    background-image: url(./images/hero_macbook_pro_m5__fjgmapbkxo2u_medium.jpg);
}
.coll{
    display: flex;
    /* margin: 20px; */
}

.card1{
    background-image: url(./images/promo_apple_watch_series_11__b63hxviqvonm_small.jpg);
}
.card2{
    background-image: url(./images/promo_ipad_pro__c529dk533k4m_small.jpg);
}
.card3{
    background-image: url(./images/promo_airpodspro_3__f6xmza7bglei_small.jpg);
}
.card4{
    background-image: url(./images/promo_macbook_air__fqowrtnxewqe_small.jpg);
}
.card5{
    background-image: url(./images/tradein);
}
.card6{
    background-image: url(./images/promo_apple_card__5cm7draujpey_small.jpg);
}
.marg{
    margin: 20px;
}

footer{
    /* border: 1px solid black; */
    padding: 0px 16px;
    background-color: rgb(235, 230, 230);
    color: #0000008F;
}
ol>li{
    list-style-type: none;
    padding: 10px;
    /* margin: 20px; */
    /* width:60%; */
}

.footer-text{
    /* border: 1px solid black; */
    max-width: 60%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* justify-content: center */
}

.footer-links {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
    max-width: 1200px;
    margin: 40px auto;
    color: #000000d9;
}

.footer-column h4 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
    color: #000;
}

.footer-column ul {
    list-style: none;
    margin-bottom: 20px;
}

.footer-column li {
    font-size: 13px;
    line-height: 1.8;
    color: #0000008f;
    cursor: pointer;
}

.footer-column li:hover {
    text-decoration: underline;
}

.footer-bottom {
    max-width: 1200px;
    margin: 20px auto;
    font-size: 12px;
    color: #0000008f;
    text-align: left;
}

.footer-bottom a {
    color: #0066cc;
    text-decoration: none;
}

.footer-bottom a:hover {
    text-decoration: underline;
}

.footer-links-bottom {
    margin-top: 10px;
}

.footer-links-bottom a {
    margin-right: 8px;
    color: #0000008f;
}

.footer-links-bottom span {
    margin-left: 15px;
}
